.container{
    margin: 7rem;
}

.title{
    font-size: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



